* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0a0a0a;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

.hero h1 {
  font-size: 3rem;
}

.hero span {
  color: cyan;
  text-shadow: 0 0 20px cyan;
}

.btn {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background: cyan;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 0 20px cyan
}

/* PROJECTS */
.projects {
  padding: 100px 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  transition: 0.4s;
  opacity: 0;
  transform: translateY(50px);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px cyan;
}
.card img {
  height: 201px;
  width: 250px;
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 100px 20px;
}